.logo{
    max-width: 30vw;
    width: 30vw;
    max-height: 20vh;
    height: 20vh;
}
.homeLogo{
    width: 6vw;
    height: 6vh;
}
footer{
    background-color: #00CC99;
}
#wrapMap{
    margin-top: 150px;
    height: 900px;

}
#myMap{
    width:100%;
    height: 100%;

}
#bp{
    margin-top: 150px;
}
.dropdown:hover{
    background-color: white !important;
}
.dropdown button:hover{
    border: none;
}
.dropdownMenu1>.title{
    padding-top: 30px;
}
.dropdown{
    border-radius: 3px;
    border: none !important;
    color: black !important;
    background-color: white !important;
    height: 45px;
}
.dropdown button{
    border: none;
    color: inherit !important;
    background-color: white !important;
}
#contact{
    padding-top: 150px !important;
    padding-bottom: 150px !important;
}
.content-section{
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}
.download-section {
    width: 100%;
    padding: 50px 0;
    color: white;
    background: no-repeat center center scroll !important;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*=========Bloc resultat de recherche=========*/
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

/*========Fin Bloc resultat de recherche=========*/